<ion-header>
  <ion-toolbar>
    <ion-title>Coronavirus Self-Assessment Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>As we gear for restart of our operations we're looking to learn more about your well-being. Need 5 minutes of your valuable time to help us understand your current health and accordingly plan for the well-being of you as an individual and entire organization. Please select the language as per your convenience and submit your response.</p>
              <h1>FIAPL</h1>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                      <ion-card [routerLink]="['/form-english']">
                       <ion-label>English</ion-label>
                      </ion-card>
                  </ion-col>
                  <ion-col size="6">
                    <ion-card [routerLink]="['/form-marathi']">
                      <ion-label>
                        मराठी</ion-label>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
</ion-content>
<ion-footer>
  <!-- <img src="assets/mobicloud_logo.png" /> -->
  <h3>Design and Developed By  Mobicloud Technologies Pvt. Ltd.</h3>
</ion-footer>
