#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

#servey-form{
  padding: 5px;
}

#servey-form ion-grid{
  padding: 5px;
    background: #d7d8da;
    margin: 10px 5px;
    border-radius: 5px;
}

#servey-form ion-grid ion-row{
 margin: auto;
}

#servey-form ion-grid ion-row ion-col{
  margin: auto;
 }

 #servey-form ion-grid ion-row ion-col ion-input{
  background: #fff;
 }

 ion-title{
  text-align: center;
  margin: 5px;
  color: #fff;
 }

 h4.sub-title{
  text-align: center;
  margin: 10px 5px;
  color: #666666;
 }

 p.started-text{
  margin: 5px;
    color: #666666;
    text-align: justify;
 }

 h4.question-label{
  font-size: 18px;
  margin: 5px;
  text-align: justify;
  color: #383a3e;
  font-weight: 500;
 }

 ion-toolbar{
  --background: #790a0a;
 }

 ion-radio{
  margin-right: 10px;
  position: relative;
  top: 5px;
  margin: 5px;
 }

 h5.desclaimer{
  margin: 5px;
  color: #383a3e;
 }

 .btn-submit{
  background: #790a0a;
  position: relative;
  padding: 15px;
  font-size: 16px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
 }